// 线条动画处理
canvas {
  z-index: -1;
}
// 首页头部透明
.theme-container .navbar {
  background: rgba(0,0,0,0)
}
.theme-container .navbar .links {
  background-color: rgba(0,0,0,0)
}
.theme-container .home-blog .hero {
  margin: 0
}
// h1标题渐变色
h1 {
  background-image: -webkit-linear-gradient(left,
  #22c1c3, #fdbb2d 25%, #22c1c3 50%, #fdbb2d 75%, #22c1c3);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-background-size: 200% 100%;
  -webkit-animation: myGradientChange 4s infinite linear;
  animation: myGradientChange 4s infinite linear;
}
.description,.card h2{
  background-image: -webkit-linear-gradient(left,
  #fdbb2d, #22c1c3 25%, #fdbb2d 50%, #22c1c3 75%, #fdbb2d);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-background-size: 200% 100%;
  -webkit-animation: myGradientChange 4s infinite linear;
  animation: myGradientChange 4s infinite linear;
}
@keyframes myGradientChange  {
  0%{ background-position: 0 0;}
  100% { background-position: -100% 0;}
}
// 首页标题渐变色

// 页面侧边栏
.page
  .side-bar.sub-sidebar-wrapper
      top 7rem
      bottom 12rem
// 时间线样式
.timeline-wrapper .year {
  margin: 80px 0px 20px !important;
  font-size: 27px !important;
}
.timeline-wrapper .year-wrapper li span {
  transition: all .5s;
}
.timeline-wrapper .year-wrapper li:hover {
  .title {
    transform: translate(30px, 0);
  }
}
// .timeline-wrapper .year-wrapper li .date {
//   width: 43px !important;
//   font-size: 13px !important;
// }
// .timeline-wrapper .year-wrapper li .date:before {
//     top: 22px !important;
//     border: 1px solid !important;
// }
// .timeline-wrapper:after {
//     background: skyblue !important;
// }
// .timeline-wrapper .desc:before, .timeline-wrapper .year:before {
//   background: cadetblue !important;
// }

//标签列表样式
.abstract-item {
  transition: all .5s;
}
.abstract-item:hover {
    transform:  scale(1.02);
    transition: all .5s;
}